# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/media
/staticfiles
.env

# Virtual environment
venv/
.venv*/
ENV/
env/
*.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
