<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="http://localhost:8000/style.css" rel="stylesheet" />

    <title>RESULT PAGE</title>
  </head>
  <body style="max-width: 100%; height: auto">
    <div
      class="container-sm shadow-lg p-3 mb-5 bg-body rounded"
      style="margin-top: 2em"
    >
      <div class="card text-dark bg-light mb-3">
        <div class="card-header"><h1>WORD COUNT!</h1></div>

        <div class="card-body">
          <span style="background-color: #d2f4ea" class="col-lg-6"
            >[ The FULLTEXT Entered ]</span
          >
          <div class="form-floating">{{fulltext}}</div>
        </div>

        <div class="card-body">
          <span style="background-color: #d2f4ea">[ Word Count Length ]</span>
          <div class="form-floating"><h3>{{count}}</h3></div>
        </div>
        <div class="card-body">
          <a href="{% url 'home' %}" class="btn btn-primary col-sm-3"
            >Count Again!</a
          >
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
